.upper-buttons {
	font-size: 1.5em;
	padding: 10px;
	margin-top: 20px;
	background-color: #EEEEEE;
}

.upper-buttons:hover {
	background-color: #99CCFF;
}

#doctutorial {
	margin-left: 25px;
}

#saveId {
	margin: 25px 10px 0 25px;
}

.screenshot {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.cookie {
	display: block;
	float: right;
	color: white;
	background-color: maroon;
}

