
		ul.jsontabs {
			margin: 50px 0 0 0;
			padding: 0;
			float: right;
			list-style: none;
			height: 32px;
			border-bottom: 1px solid #999999;
			border-left: 1px solid #999999;
			width: 50%;
		}

		ul.doctabs {
			margin: 50px 0 0 0;
			padding: 0;
			float: left;
			list-style: none;
			height: 31px;
			border-bottom: 1px solid #999999;
			border-left: 1px solid #999999;
			width: 50%;
			position: relative;
		}

		ul.jsontabs li, ul.doctabs li {
			float: left;
			margin: 0;
			cursor: pointer;
			padding: 0px 21px;
			height: 31px;
			line-height: 31px;
			border: 1px solid #999999;
			border-left: none;
			font-weight: bold;
			background: #EEEEEE;
			overflow: hidden;
			position: relative;
			display: inline;
		}
		ul.jsontabs li:hover, ul.doctabs li:hover {
			background: #CCCCCC;
		}
		ul.jsontabs li.active, ul.doctabs li.active {
			background: #FFFFFF;
			border-bottom: 1px solid #FFFFFF;
		}
		.jsontab_container {
			border: 1px solid #999999;
			border-top: none;
			clear: both;
			float: right;
			width: 50%;
			background: #FFFFFF;

		}

		.doctabs_container {
			border: 1px solid #999999;
			border-top: none;
			clear: both;
			float: left;
			width: 100%;
			background: #FFFFFF;
			position: relative;
		}

		.jsontab_content, .doctabs_content {
			padding: 20px;
			font-size: 1.2em;
			/* display: none; */
			width: auto;
			position: absolute; /* added this */
			float: center;
		}

	h2.labels {
		font-weight: bold;
		text-decoration: underline;
		color: #335CD6;
	}	




	.onoffswitch {
    position: relative;
    float: right; 
    width: 65px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
	}
	.onoffswitch-checkbox {
	    display: none;
	}
	.onoffswitch-label {
	    display: block; 
	    overflow: hidden; 
	    cursor: pointer;
	    border: 2px solid #999999; 
	    border-radius: 20px;
	}
	.onoffswitch-inner {
	    display: block; 
	    width: 200%; 
	    margin-left: -100%;
	    -moz-transition: margin 0.3s ease-in 0s; 
	    -webkit-transition: margin 0.3s ease-in 0s;
	    -o-transition: margin 0.3s ease-in 0s; 
	    transition: margin 0.3s ease-in 0s;
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
	    display: block; 
	    float: left; width: 50%; 
	    height: 21px; 
	    padding: 0; 
	    line-height: 21px;
	    font-size: 14px; 
	    color: white; 
	    font-family: Trebuchet, Arial, sans-serif; 
	    font-weight: bold;
	    -moz-box-sizing: border-box; 
	    -webkit-box-sizing: border-box; 
	    box-sizing: border-box;
	}
	.onoffswitch-inner:before {
	    content: "ON";
	    padding-left: 10px;
	    background-color: #2FCCFF; 
	    color: #FFFFFF;
	}
	.onoffswitch-inner:after {
	    content: "OFF";
	    padding-right: 10px;
	    background-color: #EEEEEE; 
	    color: #999999;
	    text-align: right;
	}
	.onoffswitch-switch {
	    display: block; 
	    width: 14px; 
	    margin: 3.5px;
	    background: #FFFFFF;
	    border: 2px solid #999999; 
	    border-radius: 20px;
	    position: absolute; 
	    top: 0; 
	    bottom: 0; 
	    right: 40px;
	    -moz-transition: all 0.3s ease-in 0s; 
	    -webkit-transition: all 0.3s ease-in 0s;
	    -o-transition: all 0.3s ease-in 0s; 
	    transition: all 0.3s ease-in 0s; 
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	    margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	    right: 0px; 
	}

